<h2>Sign Up</h2>
<br>
<form action="<%=users_url%>" method= "POST">

  <label>Email
    <input type="text" name="user[email]" value="">
  </label>
  <br>

  <label>Password
    <input type="password" name="user[password]" value="">
  </label>

    <br>

    <input type="submit" value="Claim Your VIP Pass">
</form>
