<form action="<%=bands_url%>" method= "POST">
    <label>Band Name
        <input type="text" name="band[name]" value="">
    </label>
    <br>
    <input type="submit" value= "Add Band">
</form>

<br>

<br>
<a class='button' href="<%= bands_url %>" >Return to Bands</a>


