<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
  <h1>Welcome to 99 Cats, <%= @user.username %></h1>
    <p>
      You have successfully signed up for our site!

      Your username is: <%= @user.username %>.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>
    <p>Thanks for joining us!</p>
    
    <%= yield %>
  </body>
</html>
